html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
  /* color: #e0e0e0; */
  color: #313131;
  /* background-color: #313131; */
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.text-content {
  font-size: 13pt;
}

@media print {
  @page {
    size: A4;
    margin: 10mm;
  }
  html,
  body {
    width: 100%;
    min-height: 297mm;
    margin: 0;
    padding: 0px;
    box-shadow: none;
  }

  .print-wrapper,
  .page-content {
    min-height: 297mm;
    background: #313131;
  }

  .section {
    margin: 0;
    padding: 0;
    page-break-inside: avoid;
    break-inside: avoid;
    orphans: 3;
    widows: 3;
  }
  .section-break-before {
    page-break-before: always;
  }
}
